@import '_variables.scss';

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  // background-color: rgba(1, 64, 1, 0.514);
  background-color: #d2d2cf3e;
  gap: 2rem;
  padding: 0 2rem;
  font-size: 16px;
  align-items: center;
  border-radius: 15px;
  box-shadow: #070a015e 0px 1px 4px;
}

.title {
  margin-left: 20px;
  color: $primary-light-color;
}

.menu-items {
  display: flex;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      text-decoration: none;
      display: block;
      color: white;
      padding: 10px;
      a {
        text-decoration: none;
        color: white;
        height: 100%;
        align-items: center;
      }
    }
    li:hover {
      // background-color: rgba(1, 64, 1);
      background-color: ghostwhite;

      height: 100%;
      a {
        color: rgb(68, 98, 68);
      }
    }
  }
}
