@import '_variables.scss';

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgba(1, 64, 1, 0.514);
  gap: 2rem;
  padding: 0 2rem;
  font-size: 16px;
  align-items: center;
}

.title {
  margin-left: 20px;
  color: $primary-light-color;
}

.menu-items {
  display: flex;
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      text-decoration: none;
      display: block;
      color: white;
      padding: 10px;
      a {
        text-decoration: none;
        color: white;
        height: 100%;
        align-items: center;
      }
    }
    li:hover {
      background-color: rgba(1, 64, 1);
      height: 100%;
    }
  }
}
