.plan-trip-wrapper {
  width: 350px;
}

h1 {
  color: white;
  text-align: center;
}

.select-dropdown {
  // position: relative;
  background-color: var(--select-dropdown-bg-color);
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 0.25rem;

  select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    appearance: none;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &:after {
    content: " ";
    // position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--selected-dropdown-after-border-top-color);
  }
}

#activity-div {
  display: flex;
  flex-direction: column;
  
}

#topic-div {
  display: flex;
  flex-direction: column;
  // flex-direction:
}

#plan-trip-form h3{
 margin: 20px 0px;
}

#submit-plan{
  background-color: white;
  border-radius: 0.25rem;
  width: 50%;
  border: none;
  box-sizing: border-box;
  color: #111827;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  padding: 0.45rem 0.35rem;
  // position: relative;
  // margin-left: 25%;
  // margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.submit-btn-plan{
  display: flex;
  justify-content: center;
  padding-top: 30px
}

// .input{
//   display: flex;
//   justify-content: flex-start;
// }